#keyboard{
    display:flex;
    flex-direction: column;
    /* border: 1px solid green; */
    width: 80vw;
    align-items: center;
    /* justify-content: center; */
}

#topRow{
    min-width: fit-content;
    max-width: 90%;
    display:flex;
    justify-content: space-between;
    /* border: 1px solid orange; */
}

#middleRow{
    min-width: fit-content;
    /* margin-left: 2.5vw; */
    display:flex;
    justify-content: space-between;
}

#bottomRow{
    min-width: fit-content;
    display:flex;
    justify-content: space-between;
}

.letter{
    border: solid 1px black;
    padding: 8px;
    margin-left: 3px;
    margin-right: 3px;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: rgb(19, 250, 19);
}